<div class="sidebar admin_menu">
	<div class="sidebar-row">
		<div class="widget widget_recent_entries">

			<h5 class="widgettitle"><%- __tr("Companies") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/companies">Заявки</a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("Users") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/users">Управление пользователями</a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("News") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/news">Управление новостями</a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("Sections") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/page-settings/main"><%- __tr("Main") %></a></li>
				<li><a href="/<%- locale %>/admin/page-settings/news"><%- __tr("News") %></a></li>
				<li><a href="/<%- locale %>/admin/page-settings/startups"><%- __tr("Startups") %></a></li>
				<li><a href="/<%- locale %>/admin/page-settings/corporations"><%- __tr("Corporations") %></a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("Popups") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/popups">Управление попапами</a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("Language_constants") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/languages"><%- __tr("Settings") %></a></li>
			</ul>

			<h5 class="widgettitle"><%- __tr("Lists") %></h5>
			<ul>
				<li><a href="/<%- locale %>/admin/lists/directions"><%- __tr("directions") %></a></li>
				<li><a href="/<%- locale %>/admin/lists/stages"><%- __tr("stages") %></a></li>
				<li><a href="/<%- locale %>/admin/lists/activities"><%- __tr("activities") %></a></li>
			</ul>
		</div>
	</div>
</div>