<div id="list_add_form" class="container profile_section">

	<h1><%- `${__tr(type + "_list")} ${__tr('Settings')}` %></h1>

	<div class="admin_block">

		<%- include('../../menu') %>

		<div>

			<form action="/action/admin/lists/directions" class="list_add_form" method="post">				
				<div class="form_block">				
					<h2><%- __tr('Add_new_'+type) %></h2>
					<input type="hidden" name="type" value="<%- type %>" />

					<div class="flx list_add_item jcsb">
						<% locales.forEach((lang, i) => { %>	
							<div class="form-group">
								<label><%-__tr('Name')%> <%-lang%></label>
								<input required type="text" class="content_position_index" name="name[<%-lang%>]">
							</div>
						<% }); %>
					</div>
					
					<div class="center">
						<input type="submit" class="add_list" value="<%- __tr('Add') %>" />
					</div>
				</div>
			</form>

			<ul class="lists_items">
				<% list.forEach((el) => { %>
					<li><p><%-el.name[locale]%></p><a href="/action/admin/lists/directions/<%- el.id %>" class="ajax_delete"><img width="20" src="/img/delete.svg" alt=""></a></li>
				<% }) %>
			</ul>
			
		</div>
	
	</div>

</div>