<div class="auth_form form_block">
		
		<h1><%- __tr('Signup') %></h1>
		<h3 class="center"><%- __tr('Have_an_account') %>? <a href="/login"><%- __tr('Login') %></a></h3>
		<!-- show any messages that come back with authentication -->
		<div class="row flx">

			<div class="col-md-6">

				<form class="validation" action="/action/signup" method="post">
					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>
					<div class="form-group">
						<label>Email</label>
						<input required type="text" data-rule-email="1" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label><%- __tr('Password') %></label>
						<input id="password" required type="password" data-rule-minlength="6" class="form-control" name="password">
                    </div>
                    <div class="form-group">
						<label><%- __tr('Repeat_password') %></label>
						<input required type="password" data-rule-equalto="#password" class="form-control">
					</div>
					<div class="center">
						<input type="submit" value="<%- __tr('Signup') %>" />
					</div>
				</form>
			</div>

			<div class="col-md-6">
				<div class="soc_buttons_wrap">
					<a class="soc_buttons google" href="/action/auth/google">
						<img src="/img/google-plus.svg" />
						<span><%- __tr("Continue_with") %> Google</span>
					</a>
				</div>
			</div>
		</div>

		<h3 class="center">Or go <a href="/">home</a>.</p>
		
</div>