<%
const update = action === 'update';
%>

<div id="company_form" class="container profile_section">

	<h1><%- (admin && action === 'update') ? __tr(`Startup_moderation`) : __tr(`Startup_${action}`) %></h1>

	<div class="company_form_body">
		
		<%- include('./menu') %>

		<div class="company_form_right">

			<%- action === 'update' ? `${__tr("Status")}: <b>${obj.status}</b>` : '' %>

			<%- include('./form') %>
			
			<%- update ? include('../components/_team') : `<div v-show="activePart == 'team'" class="company_form_items">Функционал добавления членов команды доступен после отправки компании на модерацию или в черновик.</div>` %>

		</div>

	</div>

</div>

