<div class="list_item_wrap page_news_list">

    <div class="item_flex"> 
        <% for (var i = 0; i < news.length; i++) { %>
			<div class="item">
                <a href="/<%-locale%>/news/page/<%-news[i].createdAt%>/<%-news[i].alias%>">                    
                    <img src="/uploads<%-news[i].images.thumbNewsImage || news[i].images.mainNewsImage || '/default/news.png'%>" alt="">
                    <h3><%- news[i].name[locale] || news[i].name[locales[0]] %></h3>
                    <span><%- news[i].moment %></span>
                </a>
			</div>
        <% } %>
    </div>

        <% if (pages > 1) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/<%- locale  %>/news/1">First</a></li>
                <% } %>
                
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
                <% } else { %>
                <li><a href="/<%- locale  %>/news/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
                <% } %>
                <% } %>
                <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
                <% } else { %>
                <li><a href="/<%- locale  %>/news/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>

   </div>